@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: #0D1821;
    --secondary-color:#87255B;
    --tertiary-color:#CD8B76;
    --secondary-transparent: rgba(135, 37, 91, 0.3 );
    --tertiary-transparent: rgba(205, 139, 118, 0.3 );
}
.movieCard{
    background:var(--secondary-color);
    color:var(--tertiary-color);
    border-radius:0px 0px 10px 10px;
    font-size: small;

} 
.movieCardBody{
    display:flex;
    flex-direction: column;
    border-radius:0px 0px 10px 10px;
    background:var(--secondary-color);
    font-family: "Oswald", sans-serif;
}
