@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&family=Raleway:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
:root{
    --primary-color: linearGradient(#0D1821, #437ead);
    --secondary-color:linearGradient(#87255B,#3d1129);
    --tertiary-color:linearGradient(#CD8B76,#5b3c33);
    --tertiary-transparent: rgba(205, 139, 118, 0.3 );
}
*{
    font-family: 'Oswald', sans-serif;
    font-stretch: expanded;
}

.movieCardCont {
    margin-top: 1%;
    display: flex;
    flex-direction: column;
    background: var(--secondary-color);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scrollbar-width: none;
}


