:root{
    --primary-color: #0D1821;
    --secondary-color:#87255B;
    --tertiary-color:#CD8B76;
    --tertiary-transparent: rgba(205, 139, 118, 0.3 );
    --secondary-transparent: rgba(135, 37, 91, 0.3 );
}

.login-card{
    background: var(--tertiary-color);
    
}
.login-Label{
    background-color: var(--tertiary-color);
    border-radius: 10px 10px 0 0
    
}
.signup-btn{
    transition: background-color 0.3s; 
}
.signup-btn:hover{
    background-color: var(--secondary-color);
    color: var(--tertiary-color);
}
.signup-btn-container {
    display: flex;
    justify-content: flex-end; // Aligns the button to the right
    align-items: center; // Centers the button vertically
    width: 100%;
}