

:root {
  --primary-color: #0D1821;
  --secondary-color: #87255B;
  --tertiary-color: #CD8B76;
  --tertiary-transparent: rgba(205, 139, 118, 0.3);
}

.indexCont{
  
  background:black;
  height:100vh;
  scrollbar-width: none;
   
}
